{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        },
        "modules": false,
        "useBuiltIns": "entry",
        "corejs": "3.0.0"
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./client"],
        "alias": {
          "@Contact": "./client/app/Components/Contact",
          "@Intro": "./client/app/Components/Intro",
          "@Menu": "./client/app/Components/Menu",
          "@Portfolio": "./client/app/Components/Portfolio",
          "@PortfolioList": "./client/app/Components/PortfolioList",
          "@Testimonials": "./client/app/Components/Testimonials",
          "@TopBar": "./client/app/Components/TopBar",
          "@Works": "./client/app/Components/Works",
          "@Styles": "./client/app/Styles",
          "@App": "./client/app/App"
        }
      }
    ]
  ]
}