@import '../../Styles/base.scss';

li.portfolio-list {
  font-size: 1rem;
  margin-right: 50px;
  padding: 1rem;
  border-radius: 7px;
  cursor: pointer;

  @include mobile {
    margin-right: 20px;
  }

  &.active {
    background: $primary;
    color: $secondary;
  }

  &:nth-child(5) {
    margin-right: 0;
  }
}
