@import '../../Styles/base.scss';

.topbar {
  width: 100%;
  min-width: 360px;
  height: 70px;
  background: $primary;
  color: $secondary;
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  transition: all 200ms ease-out;

  .wrapper {
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-weight: 500;
        font-size: 1.75rem;
        letter-spacing: 1.3px;
        text-decoration: none;
        color: inherit;
        margin-right: 20px;
      }

      .group {
        display: flex;

        @include mobile {
          display: none;
        }

        .item-container {
          display: flex;
          align-items: center;

          &:nth-child(1) {
            margin-right: 20px;
          }

          span {
            margin-left: 5px;
            font-size: 0.9rem;
            font-weight: 400;
          }
        }
      }
    }

    .right {
      transition: transform 300ms $cubic;
      cursor: pointer;

      .burger {
        width: 20px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        span {
          width: 100%;
          height: 1px;
          background: $secondary;
          transform-origin: left;
          transition: all 300ms $cubic;
          transition-delay: 0ms;
        }
      }
    }
  }

  &.active {
    background: $accent;
    color: $secondary;
    transition: color 300ms ease-in, background 500ms ease-in;
    transition-delay: 250ms;

    .wrapper {
      .right {
        transform: rotate(90deg);
        transition: transform 300ms $cubic;

        .burger {
          .bar1 {
            transform: rotate(45deg);
            background: $secondary;
            transition: transform 400ms $cubic, background 200ms $cubic;
            transition-delay: 200ms;
          }
          .bar2 {
            transform: rotate(-45deg);
            background: $secondary;
            transition: transform 400ms $cubic, background 200ms $cubic;
            transition-delay: 200ms;
          }
        }
      }
    }
  }
}
